<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/output.css">
    <link rel="stylesheet" href="https://unpkg.com/@splidejs/splide@3.0.9/dist/css/splide.min.css">
    <script src="https://unpkg.com/@splidejs/splide@3.0.9/dist/js/splide.min.js"></script>
    <script src="../js/Splide.js"defer></script>

</head>
<body>
     <nav class="bg-blue-500">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <a href="/Mainpage" class="text-white text-xl font-bold">Graduation Event</a>
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a href="/Gallery" class="text-white hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Gallery</a>
                <a href="/VIP" class="text-white hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">VIP</a>
                <a href="/partyroom" class="text-white hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Party Room</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="splide">
     <div div class="splide__track">
        <ul class="splide__list">
        <li class="splide__slide"><img width="1980px" height="1980px"  src="../Images/Graduacion1.jpg" alt="Image 1"></li>
        <li class="splide__slide"><img width="1980px" height="1980px"  src="../Images/Graduacion2.jpg" alt="Image 2"></li>
        <li class="splide__slide"><img width="1980px" height="1980px"  src="../Images/Graduacion 3.jpg" alt="Image 3"></li>
        </ul>
     </div>
    </div>

   
</body>
</html>